
name: Continuous Deployment

on:
  release:
    types: [published]


jobs:
  deploy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [10.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Create env file
      run: echo -e "VUE_APP_MAPBOX_TOKEN=${{secrets.MAPBOX_TOKEN}}\nVUE_APP_FIREBASE_CONFIG=${{secrets.FIREBASE_CONFIG}}\nVUE_APP_ACCOUNT_SID=${{secrets.ACCOUNT_SID}}\nVUE_APP_AUTH_TOKEN=${{secrets.AUTH_TOKEN}}" > .env
    - run: npm install
    - run: npm run build
    - name: Deploy to firebase
      uses: w9jds/firebase-action@master
      with:
        args: deploy --only hosting
      env:
        FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
